<div class="todo-container">
  <h1>To-Do List</h1>
  <div class="add-todo">
    <input type="text" placeholder="What needs to be done?" [value]="newTodoText()" (input)="newTodoText.set($event.target.value)" (keyup.enter)="addTodo()">
    <button (click)="addTodo()">Add</button>
  </div>
  <ul class="todo-list">
    @for (todo of todos(); track todo.id) {
      <li [class.completed]="todo.completed">
        <input type="checkbox" [checked]="todo.completed" (change)="toggleCompletion(todo.id)">
        <span>{{ todo.text }}</span>
      </li>
    }
  </ul>
</div>
