
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
  font-family: 'Roboto', sans-serif;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
